html
  body
    form(action='/searchuser', method='POST')
      p
      label(for='input') Search name: 
      input(type='text', name='input', value='')
      input(type='submit', value='Submit')
      br
      <a href="/">Back</a>